<nav class="flex justify-between bg-[#29303Eff] text-white px-6 py-2">
  <div>
    <span class="font-semibold text-xl tracking-tight"
        ><a href="/"><i class="fa-solid fa-wave-square"></i> CDNET</a></span
      >
  </div>
  <div class="flex justify-between gap-4 items-center">
    <div>
      <a
      href="#responsive-header"
      class="nav_link text-[#BDC7C8] hover:text-white mr-4"
      ><i class="fa-solid fa-user"></i>
      Profile
    </a>
    </div>
    <div>
      <a
      href="#responsive-header"
      class="nav_link text-[#BDC7C8] hover:text-white"
      ><i class="fa-solid fa-cart-shopping"></i>
      Basket
    </a>
    </div>

  </div>
  <div class="ml-4">
    <a
    href="logout"
    class="px-2 py-1 text-sm leading-none border rounded text-[#BDC7C8] border-[#BDC7C8] hover:border-transparent hover:text-[#29303Eff] hover:bg-white mt-4 md:mt-0"
    >Log out</a
  >
  </div>
</nav>